$font-stack: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$sky-day-color: #90E0EF;
$sky-night-color: #03045E;

:root {
  font-family: $font-stack;
}

.background, .sky, .ground{
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.5s;
}

.bg-day-mode {
  background-color: $sky-day-color;
}

.bg-night-mode {
  background-color: $sky-night-color;
}

.sky{
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 16%;
  background-repeat: no-repeat;
  background-size: contain;
} 

.sky-day-mode{
  background-image: url(./assets/images/bg/day-sky.png);
}

.sky-night-mode{
  background-image: url(./assets/images/bg/night-sky.png);
}

#timer{
  margin-top: 10.5%;
  margin-left: 9%;
  font-size: 6vw;
  letter-spacing: 4px;
  transition: all 0.5s;
  color: #a2abaf;
}

.buttons{
  margin-top: 9%;
  margin-left: 51%;

  button{
    border: none;
    background-color: inherit;
    width: 4vw;
    font-weight: 800;
    transition: all 0.5s;
    color:#868686;

    span{
      font-size: 3vw;
    }
  }

  button:hover{
    color:#505050;
  }
}

.ground{
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-content: flex-end;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  padding: 10px;
}

.ground-day-mode{
  background-image: url(./assets/images/bg/day-ground.png);
}

.ground-night-mode{
  background-image: url(./assets/images/bg/night-ground.png);
}

.flower{
  transition: all 1s;

  img{
    max-width: 6vw;
  }
}

.grow-flower {
  img{
    animation: growFlower 60s 1;
  }
}

@keyframes growFlower {
  from{
    width: 1vw;
  }
  to{
    width: 6vw;
  }
}

.flower-day-mode{
  h3{
    line-height: 0;
    position: fixed;
    animation: gas 3s infinite;
    text-align: center;
    color:aliceblue;
    font-size: 15px;
  }
}

@keyframes gas {
  from{
    margin-top: 10px;
    opacity: 0;
  }
  to{
    opacity: 0.7;
    margin-top: -15px;
  }
}

.flower-night-mode{
  filter: grayscale(1);

  h3{
    position: fixed;
    line-height: 0;
    opacity: 0;
  }
}